.logo {
    height: 105px;
    width: 105px;
}
.text {
    font-family: "Anton";
    margin: auto;
}

html { font-size: 22px; }
body { padding: 1rem; }

.cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}
.rounded-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anton";
}
.selected-work {
    font-family: "Abel";
}
/*/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
.cards { grid-template-columns: repeat(2, 1fr); }
}
/*/* Screen larger than 900px? 3 columns */

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
}
